* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  position: absolute;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 5%;

}


.content> h1{
    font-size: 5rem;
    font-weight: 700;
    color:white;
    
}

.content> h2{
    font-size: 1.5rem;
    color: whitesmoke;
    padding-right: 9px;

}

.nav-buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

button {
  border: none;          
  background-color: transparent;
  padding: 0;           
  cursor: pointer;     
  color : white;
  font-size: 1.2rem;
}

h1,h2{
  color: white;
}
